.price {
  display: inline-block;
  font-weight: bold;
}

.category .price {
  font-size: 1.5rem;
  vertical-align: middle;
}

.product .price {
  font-size: 2rem;
  vertical-align: middle;
}

.dollar {
  font-size: 1rem;
  vertical-align: text-top;
}

.product .dollar {
  font-size: 1.3rem;
  vertical-align: text-top;
}

.sale {
  background-color: #285cab;
  color: #fff;
  padding: 0.1rem 0.2rem;
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 0.3rem;
  border-radius: 0.2rem;
  border: 1px solid #000;
  box-shadow: 1px 1px 4px rgba(0, 0, 0);
}

.cartItem {
  font-size: 1rem;
  display: inline-block;
  font-weight: bold;
  margin-left: auto;
}
