.cartOuterContainer {
  position: relative;
  padding: 1rem;
  font-size: 0.9rem;
}

.container {
  position: absolute;
  right: 0.3rem;
  background-color: #fff;
  width: auto;
  cursor: pointer;
}

.cart {
  width: 15rem;
  cursor: default;
  border: 2px solid#000;
}

.cartClose {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0.8rem;
}

.item {
  padding: 1rem;
  border-bottom: 1px solid #d3d3d3;
}

.hdr {
  text-align: center;
  color: #285cab;
  margin: 0 0 0.5rem;
}

.details {
  display: flex;
  margin-bottom: 0.5rem;
}

.price {
  font-weight: bold;
  margin-left: auto;
}

.buttons {
  display: flex;
}

.amount {
  margin: 0 0.3rem;
  font-size: 1.3rem;
}

.oneItem {
  flex-grow: 1;
}

.total {
  text-align: right;
  padding: 0.5rem 1rem;
  display: flex;
}

.total span:last-child {
  font-weight: bold;
  margin-left: auto;
}

.cartClosedCont {
  background-color: #fff;
  z-index: 1;
  width: auto;
  margin-right: 1rem;
  position: relative;
}

.cartClosedContQty {
  animation-name: bg;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes bg {
  from {
    font-weight: bold;
    font-size: 1rem;
  }
  to {
    font-weight: normal;
    font-size: 0.7rem;
  }
}

.cartImg {
  height: 2rem;
  width: 2rem;
}

.cartClosedQty {
  font-size: 0.7rem;
  position: absolute;
  top: -15px;
  right: 0;
}

@media screen and (max-width: 500px) {
  .container {
    right: 1rem;
  }
}
