.btn {
  padding-right: 0.2rem;
  background-color: #3ca400;
  padding: 0.1rem 0.6rem;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.removeBtn {
  background: none;
  border: none;
  padding: 0;
  color: #888;
  text-decoration: underline;
  font-size: 0.8rem;
  cursor: pointer;
}
