.container {
  padding: 1rem;
}

.hdr {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.category {
  color: #2884ab;
}

.infoCont {
  display: flex;
}

.info {
  flex: 0;
  vertical-align: bottom;
}

.dimensions,
.qty {
  margin: 1rem 0;
}
