.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.slogan {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.2rem;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}

.category {
  flex: 1;
  margin: 0.8rem;
}

.category a h2 {
  color: #286c93;
  margin: 0.3rem 0;
  font-size: 1.1rem;
  font-weight: normal;
}

.category a h2:hover {
  color: #000;
}

.imgCont {
  border: 1px solid #d3d3d3;
}

.imgCont:hover {
  border-color: #b2b0b0;
}
