body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* height: 100vh; */
}

article {
  padding-top: 101px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  padding: 0;
}

@media screen and (max-width: 500px) {
  article {
    padding-top: 86px;
  }
}
